<div class="dashboard-pipeline-card-box" cdkDrag>
  <div class="card-body dashboard-pipeline-card-body">
    <h5 class="card-title">
      <app-bootstrap-icon iconName="bi-broadcast-pin" iconSize="1.5em" style="margin-right: 0.75em;"></app-bootstrap-icon>
      <span>{{ getTitle() }}</span>
      ( {{ getType() }} )
    </h5>
    <hr />
    <pre>{{ getTitle() }} = {{ getArgsText() }};</pre>
    <h5 class="card-title">Next</h5>
    <hr />
    <div style="float: left;">
      <button class="btn btn-primary" (click)="next()" [disabled]="!nextValue">Next</button>
    </div>
    <div style="float: left;">
      <input type="text" placeholder="next" [(ngModel)]="nextValue" />
    </div>
    <div style="clear: both;"></div>
    <hr />
    <div style="float: left;">
      <button class="btn btn-danger" (click)="error()" [disabled]="!errorValue">Error</button>
    </div>
    <div style="float: left;">
      <input type="text" placeholder="error" [(ngModel)]="errorValue" />
    </div>
    <div style="clear: both;"></div>
    <hr />
    <div style="float: left;">
      <button class="btn btn-success" (click)="complete()">Complete</button>
    </div>
    <div style="clear: both;"></div>
    <h5 class="card-title">Events</h5>
    <app-pipeline-event-list [events]="getEvents()" [subject]="true"></app-pipeline-event-list>
  </div>
</div>
